In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("DigitalAd_dataset.csv")

#To upload in Local directory
#from google.colab import files
#uploaded = files.upload()

In [3]:
df.head()

   Age  Salary  Status
0   18   82000       0
1   29   80000       0
2   47   25000       1
3   45   26000       1
4   46   28000       1

In [4]:
df.shape

(400, 3)

In [5]:
X = df.iloc[: , :-1]
y = df.iloc[:,-1]

In [6]:
y

0      0
1      0
2      1
3      1
4      1
      ..
395    0
396    0
397    0
398    0
399    0
Name: Status, Length: 400, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [10]:
y_pred = lr.predict(X_test)

In [11]:
result = pd.DataFrame({"Actual" :y_test , "Predicted" : y_pred})
result

     Actual  Predicted
209       1          1
280       0          0
33        0          0
210       0          0
93        0          0
..      ...        ...
332       1          1
167       0          0
245       1          1
311       0          0
145       1          1

[132 rows x 2 columns]

In [12]:
age = 170
sal = 23
newCust = [[age, sal]]
result = lr.predict(sc.transform(newCust))
if result == 1:
    print("Customer will purchase")
else:
    print("Customer will not purchase")

Customer will purchase

In [13]:
print(result)

[1]

In [16]:
from sklearn.metrics import confusion_matrix,accuracy_score
accuracy_score(y_test, y_pred)

array([[84,  5],
       [17, 26]], dtype=int64)

In [17]:
confusion_matrix(y_test, y_pred)

array([[84,  5],
       [17, 26]], dtype=int64)